
html {
    font-family: 'ProximaNova-Regular',arial;
}
#contactus fieldset {
    border: 1px solid #000077;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}
#contactus legend, h2 {
    color: #555555;
    font-family: 'Exo',sans-serif;
    font-size: 1.6em;
    padding-bottom: 20px;
}
#contactus label {
    font-size: 0.8em;
}
#contactus input[type="text"], textarea {
    background-color: #ffffff;
    border: medium none;
    color: #000000;
    font-family: arial;
    font-size: 12px;
    line-height: 120%;
    padding: 3px;
}
#contactus input[type="text"] {
    background-color: #e5e5e5;
    border: medium none;
    height: 35px;
    line-height: 35px;
    width: 100%;
}
#contactus #scaptcha {
    height: 18px;
    width: 60px;
}
#contactus input[type="submit"] {
    background-color: #b21e1f;
    border: medium none;
    color: #ffffff;
    float: right;
    height: 30px;
    padding-left: 0;
    width: 100px;
}
#contactus textarea {
    background-color: #e5e5e5;
    border: medium none;
    font-size: 12px;
    max-height: 120px;
    width: 100%;
}
#contactus input[type="text"]:focus, textarea:focus {
    background-color: #ffffff;
}
#contactus .container {
    margin-bottom: 10px;
    margin-top: 8px;
}
#contactus .error {
    background-color: #e3163b;
    color: #ffffff;
    font-size: 0.7em;
}
#contactus fieldset#antispam {
    border-color: #ffffff -moz-use-text-color -moz-use-text-color;
    border-style: solid none none;
    border-width: 1px 0 0;
    padding: 2px;
    width: 350px;
}
#contactus fieldset#antispam legend {
    color: #ffffff;
    font-size: 0.8em;
    font-weight: bold;
}
#contactus .short_explanation {
    color: #000000;
    font-size: 0.6em;
}
#contactus .spmhidip {
    display: none;
    height: 3px;
    width: 10px;
}
#fg_crdiv {
    font-size: 0.3em;
    opacity: 0.2;
}
#fg_crdiv p {
    display: none;
}
